# Dependencies
node_modules/
__pycache__/
*.pyc

# Environment variables
.env

# Build output
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python virtual env
venv/
.venv/

README2.md